##  folders
**/unused/
layouts/
LOGS/
powermenu/
applets/type*
yazi/plugins/

##  binaries that I probably shouldn't post?
polywinner

##  specific files
herbstluftwm.code-workspace
.stow-local-ignore
.stowrc
