##  folders
.vscode/
LOGS/
# dmenu/
**/unused/
powermenu/
layouts/
# applets/type*/
yazi/plugins/

##  binaries that I probably shouldn't post?
polywinner

##  specific files
herbstluftwm.code-workspace
.stow-local-ignore
.stowrc
.envrc
.emmyrc.json
/herbstluftwm/.references/joeplaa-conky
