# .gitignore
#


# ----- ⚠️ WARNING:do not ignore the following; version control info ⚠️ ----- #

lazy-lock.json
lazyvim.json

###############################################################################
# automated additions, I guess
tt.*
.tests
debug
.repro
foo.*
*.log
data
# files
.emmyrc.json
unused.txt
*.stow-local-ignore
*.stowrc
*.scratchpad
# folders
.references/
.trash.nvim
