/* ./rofi/colors/solarized-light.rasi
 */

* {
    background:     #FDF6E3;
    background-alt: #EEE8D5;
    foreground:     #839496;
    selected:       #5B7279;
    active:         #CB4B16;
    urgent:         #DC322F;
}
