/**
 *
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 *
 * Colors
 **/

* {
    background:     #002B36FF;
    background-alt: #073642FF;
    foreground:     #EEE8D5FF;
    selected:       #268BD2FF;
    active:         #CB4B16FF;
    urgent:         #DC322FFF;
}
