-- /plugins/plugins.template
-- vim: syntax=lua
--###########################################################################--
--[[

text templates for adding plugins via lazy.nvim

--]]
--###########################################################################--
--[[ LAZYSPEC MAIN RETURN SECTION ]]

-- src: https://lazy.folke.io/spec

--[[ v MULTIPLE ENTRIES v ]]--

-- /plugins/name.lua
-- disabled if below line is active
-- if true then return {} end
return {
  {
    -- https://github.com/author/repo
    "author/repo",
    dependencies = {},
    cmd = "whatevercommand",
    opts = {}, -- needed for Lazu to call setup
    config = function(_, opts)
      require("module-name").setup(opts)
    end
  },
  {
    --
  },
}

--[[ ^ MULTIPLE ENTRIES ^ ]]--

--===========================================================================--

--[[ v SINGLE ENTRY v ]]--

-- /plugins/name.lua
-- disabled if below line is active
-- if true then return {} end

return {
  -- https://github.com/author/repo
  "author/repo",
  dependencies = {}, -- only if needed to be loaded as well
  cmd = "whatevercommand",
  opts = {}, -- needed for Lazu to call setup
}

--[[ ^ SINGLE ENTRY ^ ]]--

--###########################################################################--
--[[ SETTINGS SNIPPETS ]]--

--[[ v OPTIONS: EXTEND v ]]--

  opts = { -- Lazy automatically calls require("module-name").setup(opts)
    -- ...
  },

--[[ ^ OPTIONS: EXTEND ^ ]]--

--===========================================================================--

--[[ v OPTIONS: OVERRIDE v ]]--

  config = function()
    -- ...
  end,

--[[ ^ OPTIONS: OVERRIDE ^ ]]--

--###########################################################################--
--[[ KEYMAPPING SNIPPETS ]]--

--[[ v LAZYSPEC KEYMAPPING: EXTEND v ]]--


  -- one line
  keys = {
    { "lhs_string", "rhs_string|fun()", mode = { "i", "n", "s", "v", "x" }, desc = "desc_string" },
  },

  -- multi-line
  keys = {
    {
      "lhs_string",
      "rhs_string|fun()",
      mode = { "i", "n", "s", "v", "x" },
      ft= "filetype_string|string[]"
      desc = "desc_string",
      other_valid_opts = "whatever",
    },
  }

--[[ ^ LAZYSPEC KEYMAPPING: EXTEND ^ ]]--

--===========================================================================--

--[[ v LAZYSPEC KEYMAPPING: OVERRIDE v ]]--

--[[ ^ LAZYSPEC KEYMAPPING: OVERRIDE ^ ]]--

--===========================================================================--

--[[ v WHICH-KEY KEYMAPPING v ]]--

-- src: https://github.com/folke/which-key.nvim?tab=readme-ov-file#%EF%B8%8F-mappings

local wk = require("which-key")
wk.add({
  { "<leader>f", group = "file" }, -- group
  { "<leader>ff", "<cmd>Telescope find_files<cr>", desc = "Find File", mode = "n" },
  { "<leader>fb", function() print("hello") end, desc = "Foobar" },
  { "<leader>fn", desc = "New File" },
  { "<leader>f1", hidden = true }, -- hide this keymap
  { "<leader>w", proxy = "<c-w>", group = "windows" }, -- proxy to window mappings
  { "<leader>b", group = "buffers", expand = function()
      return require("which-key.extras").expand.buf()
    end
  },
  {
    -- Nested mappings
    mode = { "n", "v" }, -- NORMAL and VISUAL mode
    { "<leader>q", "<cmd>q<cr>", desc = "Quit" }, -- no need to specify mode since it's inherited
    { "<leader>w", "<cmd>w<cr>", desc = "Write" },
  }
})

--[[ ^ WHICH-KEY KEYMAPPING ^ ]]--

--===========================================================================--

