##  folders
examples/*
layouts/*
LOGS/*
powermenu/*
applets/type*
yazi/plugins/*

##  unused folders and assets
unused/

##  binaries that I probably shouldn't post?
polywinner

##  specific files
herbstluftwm.code-workspace
.stow-local-ignore
.stowrc